
    body{
        background-image: linear-gradient(#020202, #0D2818);;
    }
    img {
        float: left;
        margin-top: 70px;
        margin-left: 70px;
        border-radius: 50%;
        border:10px solid #16DB65;
        width: 40%;
        height: auto;
        z-index: -1;
        box-shadow: 0px 0px 20px  #16DB65;;
    }
    .content{
        font-size: 85%;
        float: right;
        margin: 10px;
        margin-top: 35px;
        margin-right: 100px;
        border: 10px solid #16DB65;
        border-radius: 10%;
        font-family: Arial, Helvetica, sans-serif;
        color: #16DB65;
        text-align: center;
        max-width: 300px;
        padding: 30px;
        box-shadow: 0px 0px 20px  #16DB65;;
    }
